<%= form_for @post do |f| %>

	<% if @post.errors.any? %>
		<h2><%= pluralize(@post.errors.count, "error") %> prenvented this post from saving</h2>
		<ul>
			<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<div class="form-group">
	    <%= f.label :title, "Title:" %>
	    <div class="mb20">
	        <%= f.text_field :title, class: "form-control" %>
	    </div>
	</div>
	<div class="form-group">
	    <%= f.label :body, "Post:"%>
	    <div class="mb20">
	        <%= f.text_area  :body, class: "form-control" %>
	    </div>
	    <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
	    
	</div>
<% end %>